body,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "Raleway";
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

/* header locatin stayle start */

.header__location {
  background-color: rgb(244, 244, 244);
}

.header__location-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}

.header__location-mockva-wrapper {
  display: flex;
  align-items: center;
  gap: 86px;
}

.header__location-select {
  border: none;
  background-color: transparent;
  outline: none;
  color: #828282;
}

.header__location-mosckva {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__location-bars-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #828282;
}

.header__icon-bars {
  font-size: 18px;
  color: #2fd3ae;
}

.header__location-img-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__location-img {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #828282;
}

.header__location-kabinet-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #828282;
}

/* header location stayle finish  */

/* header__contact statle start */

.header__contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 10px 29px 10px;
  gap: 8px;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 25.83px;
  color: #4f4f4f;
  font-family: "Raleway";
}

.header__contact-text {
  font-size: 14px;
  font-family: "Roboto";
  color: #828282;
  line-height: 16.41px;
}

.header__contact-web-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__contact-catena-wrapper {
  display: flex;
  align-items: center;
  gap: 63px;
}

.header__contact-phone-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-number {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 800;
  line-height: 27px;
  color: #4f4f4f;
  line-height: 16.41px;
}

.header__contact-phone-text {
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 400;
  color: #828282;
  line-height: 12.89px;
}

.header__contact-market {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-link {
  border: none;
  border-radius: 50px;
  padding: 17px 42px;
  background-color: #2fd3ae;
  font-size: 14px;
  font-family: "Raleway";
  color: #ffffff;
  cursor: pointer;
}
.header__contact-link:active {
  transform: scale(0.98);
}
.header__contact-link:hover {
  background-color: #22b08f;
}

/* header__contact stayle finish */

/* header apteka stayle start */

.header__apteka {
  background: linear-gradient(269.93deg, #2fd3ae 0%, #011d71 100%);
}

.header__apteka-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0 24px 0;
}

.header__apteka-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 16.44px;
  text-decoration: none;
}

.header__diseases {
  background-color: #f7fafb;
  padding: 20px 0;
}

.header__diseases-wrapper {
  max-width: 1055px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__disease {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 6px 10px 8px 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 16.44px;
  color: #4f4f4f;
  cursor: pointer;
}
.header__disease:hover {
  background-color: #e5e4e4;
}
.header__disease:active {
  transform: scale(0.98);
}

.header__disease-blue {
  background-color: #4bc1e9;
  color: #ffffff;
}
.header__disease-blue:hover {
  background-color: #42abcf;
  color: #ffffff;
}
.header__disease-yellow {
  background-color: #ff9e19;
  color: #ffffff;
}
.header__disease-yellow:hover {
  background-color: #e78f13;
  color: #ffffff;
}

/* header stayle finish */

/* main stayle start */
.main {
  padding: 0 10px;
}

.main__title-wrapper {
  display: flex;
  gap: 12px;
}

.main__title-alfa {
  font-size: 14px;
  font-weight: 400;
  padding: 20px 0 0 0;
}

.main__title-glavni {
  color: #2fd3ae;
  line-height: 16.44px;
}

.main__title-text {
  line-height: 16.44px;
  color: #bdbdbd;
}

.main__title {
  font-size: 36px;
  font-weight: 700;
  color: #394045;
  line-height: 42.26px;
}

.main__kategoriya-wrapper {
  display: flex;
  gap: 30px;
}

.main__kategorya-box-wrapper {
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__kategoriya-box {
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px #0b361d1a;
}

.main__line {
  width: 100%;
  border: 1px solid #f5f5f5;
  margin: 5px 0;
}
.main__kategoriya-title {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.main__kategoriya-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 32.3px;
  color: #4f4f4f;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 0 0 0 20px;
}

.main__kategoriya-link {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
  border-radius: 0 0 5px 5px;
  background-color: #2fd3ae;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.09px;
  cursor: pointer;
}
.main__kategoriya-link:hover {
  background-color: #2bbc9a;
}

.main__filtr-box {
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px #0b361d1a;
  margin-bottom: 20px;
}

.main__filtr-title {
  padding: 20px 0 20px 26px;
  font-size: 14px;
  font-weight: 700;
  color: #4f4f4f;
}

.main__filtr-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

.main__filtr-button {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  color: #dfdfdf;
  cursor: pointer;
  flex: 1;
}
.main__filtr-button:hover {
  background-color: #86ebba;
  color: #ffffff;
}
.main__filtr-button:active {
  transform: scale(0.98);
}

.main__filtr-run-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.main__filtr-box-run {
  max-width: 230px;
  width: 100%;
}

.main__filtr-select {
  width: 90%;
  border: none;
  outline: none;
  margin: 0 10px 22px 10px;
}

.main__filtr-form {
  line-height: 30px;
}

.main__filtr-serch {
  max-width: 288px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(179, 179, 179);
  padding: 10px 10px;
}

.main__filtr-link-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.main__filtr-link {
  padding: 10px 25px;
  margin: 20px 0;
  color: white;
  background-color: #2fd3ae;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.23px;
  font-family: "Roboto";
  flex: 1;
  cursor: pointer;
}
.main__filtr-link:hover {
  background-color: #20ad8a;
}
.main__filtr-link:active {
  transform: scale(0.98);
}
.main__filtr-link-bc {
  background-color: #f9f9f9;
  color: rgb(160, 160, 160);
}
.main__filtr-link-bc:hover {
  color: rgb(255, 255, 255);
}

.main__filtr-drug-wrapper {
  max-width: 280px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f7fafb;
  transition: 0.4s;
}
.main__filtr-drug-wrapper:hover {
  transform: translate(0, -10px);
  box-shadow: 0 5px 5px rgb(166, 166, 166);
}
.main__filtr-drug-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main__filtr-drug-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.main__katolog-wrapper {
  max-width: 1200px;
  width: 100%;
}

.main__katolog-title {
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  color: #333333;
  font-family: Raleway;
}

.main__katolog-box-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.main__katolog-box {
  max-width: 280px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e7e9eb;
  padding: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.main__katolog-box:hover {
  transform: translate(0, -3px);
  box-shadow: 0 5px 5px rgb(192, 192, 192);
}
.main__katolog-box:active {
  transform: scale(0.98);
}

.main__katolog-list-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__katolog-list-wrapper ul {
  list-style: none;
  line-height: 31.6px;
  padding: 0;
}

.main__katolog-link {
  text-decoration: none;
  color: #828282;
}

.main__katolog-text-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f7fafb;
  padding: 17px 17px 16px 17px;
  border-radius: 5px;
}

.main__katolog-box-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}
.main__katolog-box-button:active {
  transform: scale(0.98);
}

.main__katolog-cards-box {
  max-width: 279px;
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  transition: 0.5s;
}
.main__katolog-cards-box:hover {
  box-shadow: 0 10px 10px rgb(141, 141, 141);
  transform: translate(0px, -10px);
}

.main__katolog-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 0 0;
  gap: 20px;
}

.main__cards-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #f7fafb;
}

.main__cards-tovar {
  position: absolute;
  left: 10px;
  top: 10px;
}

.main__cards-text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.main__cards-text-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__cards-p {
  font-size: 12px;
  line-height: 14.06px;
  font-weight: 700;
  font-family: "Roboto";
  color: #2fd3ae;
}

.main__cards-text-bolt {
  max-width: 220px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: #525a68;
}

.main__cards-list {
  padding: 0 0 0 15px;
}
.main__cards-list li {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 19.2px;
}

.main__cards-money {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__cards-money-text {
  display: flex;
  flex-direction: column;
}

.main__cards-41 {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 28.13px;
  color: #525a68;
}

.main__cards-49 {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 16.41px;
  font-weight: 700;
  text-decoration: line-through;
  color: #dd8888;
}

.main__cards-biblateka-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f7fafb;
  padding: 21px 0;
}
.main__cards-biblateka {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
}

.main__cards-biblateka-b {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.58px;
  font-family: "Roboto";
  color: #2f2f2f;
}

.main__cards-biblateka-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main__p {
  font-family: "Roboto";
  max-width: 169px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #7c7c7c;
}

.main__aksiya-cards-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 10px;
}

.main__aksiya-title {
  font-weight: 700;
  line-height: 42.26px;
  font-family: "Roboto";
  color: #333333;
  padding: 0 10px;
}

.main__text-list-wrapper {
  display: flex;
  gap: 16px;
}

.main__text-list-wrapper li {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  color: #4f4f4f;
  list-style: none;
}
.main__text-list-wrapper ul {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
}

.main__text-p1 {
  max-width: 1520px;
  width: 100%;
  padding: 30px 0;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  color: #4f4f4f;
  list-style: none;
}

.main__text-box {
  display: flex;
  gap: 24px;
  align-items: center;
  background: linear-gradient(
    89.56deg,
    rgba(1, 29, 113, 0.05) 0%,
    rgba(47, 211, 174, 0.05) 100%
  );
  border-radius: 5px;
  padding: 30px;
}

.main__text-p2 {
  max-width: 1370px;
  width: 100%;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 25.2px;
  color: #4f4f4f;
}

.main__text-all {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 16.41px;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 5%;
  color: #2fd3ae;
}

.main__capsula-box-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 100px;
}

.main__capsula-box {
  max-width: 358px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}
.main__capsula-box:hover {
  transform: translate(0, -10px);
  box-shadow: 0 5px 5px rgb(106, 106, 106);
  transition: 0.5s;
}

.main__capsula-title {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main__box-text-b {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  color: #333333;
  padding: 10px 0;
}

.main__title-rec {
  font-weight: 400;
  font-family: "Roboto";
  font-size: 14px;
  color: #2fd3ae;
}

.main__box-text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #828282;
}

/* main stayle finish */

/* footer stayle start */

footer {
  position: relative;
  background: linear-gradient(269.93deg, #2fd3ae 0%, #011d71 100%);
}

.footer__form-wrapper {
  width: 97%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  padding-left: 100px;
  position: absolute;
  top: -70px;
  left: 20px;
}

.footer__form {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.footer__form-name {
  max-width: 375px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e9eb;
  padding: 15px 0 15px 20px;
}

.footer__form-tel {
  max-width: 375px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e9eb;
  padding: 15px 0 15px 20px;
}

.footer__form-link {
  color: #2fd3ae;
}

.footer__form-text {
  max-width: 270px;
  width: 100%;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16.8px;
  color: #828282;
}

.footer__form-submit {
  max-width: 242px;
  border-radius: 50px;
  border: none;
  background: #2fd3ae;
  box-shadow: 0px 40px 40px 0px #00000033;
  color: #ffffff;
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  padding: 15px 58px;
  cursor: pointer;
  transition: 0.5s;
}
.footer__form-submit:hover {
  background-color: #1daa89;
}
.footer__form-submit:active {
  transform: scale(0.9);
}

.footer__wrappper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10px 0 10px;
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__apteka-logo {
  display: flex;
  gap: 20px;
}

.footer__logo-text-wrapper p {
  max-width: 159px;
  width: 100%;
  font-size: 12px;
  line-height: 14.06px;
  color: #ffffff;
  font-family: "Roboto";
}

.footer__apteka-text {
  display: flex;
  flex-direction: column;
  gap: 108px;
}

.footer__list {
  list-style: none;
}
.footer__list li::before {
  content: "-";
  padding: 0 20px 0 0;
  font-size: 25px;
  color: #ffffff;
}
.footer__list a {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 30.8px;
}

.footer__contact-phone-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__list-emial {
  display: flex;
  flex-direction: column;
  gap: 49px;
  color: white;
}
.footer__list-emial li {
  list-style: none;
}

.footer__text {
  max-width: 347px;
  font-size: 14px;
  line-height: 35.8px;
  color: #ffffff;
}

.footer__list-text {
  list-style: none;
}
