body{
    margin: 0;
    
}
*{
    text-decoration: none;
    font-family: 'Arial';
}
.container{
    width: 80%;
    margin: 0 auto;
}
.our-partner-wrapper{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}
.our-partner-title h1{
    font-size: 20px;
    margin: 0;
}
.our-partner-btn-wrapper{
    align-self: center;
}
.our-partner-btn-wrapper{
    display: flex;
    gap: 10px;
}
.left-btn{
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 50%;
    background: transparent;
}
.right-btn{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
}
.credit-card-wrapper{

}
.image-wrapper{
    width: 70%;
    margin: 0 auto;
}
.about-company{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.credit-card-wrapper img{
    width: 170px;
}
.about-company-text{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
li{
    display: flex;
    font-size: 13px;
}
.text-row-1{
    width: 340px;
    display: flex;
    flex-direction: column;
}
.text-row-2{
    width: 370px;
    display: flex;
    flex-direction: column;
}
.text-row-3{
    width: 350px;
    display: flex;
    flex-direction: column;
}

.main-text p{
    width: 100%;
    font-size: 13px;
}
.error__outline{
    width: 99%;
    height: 70px;
    background: rgba(1, 29, 113, 0.05);
    display: flex;
    gap: 10px;
    padding: 30px 0;
    justify-content: center;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.error__outline p{
    width: 90%;
    font-size: 15px;
    align-self: center;
}
.error-icon{
    padding: 30px 25px;
    display: flex;
}
.fa-circle-exclamation{
    align-self: center;
    color: rgba(47, 211, 174, 1);
}
.error__tetx__wrapper{
    width: 100%;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
}
.error-link{
    display: flex;
    gap: 10px;
    color: rgba(47, 211, 174, 1);
}
.alphabet-wrapper{
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
}
.alpha-title{
    margin: 0;
    display: flex;
    gap: 40px;
}
.alpha-title h1{
    font-size: 25px;
}
.alpha-title a{
    align-self: center;
    color: rgba(47, 211, 174, 1);
}
