body{
    margin: 0;
    
}
*{
    text-decoration: none;
    font-family: 'Arial';
}
.container{
    width: 80%;
    margin: 0 auto;
}
.our-partner-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 700px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.our-partner-title h1{
    font-size: 20px;
    margin: 0;
}
.our-partner-btn-wrapper{
    align-self: center;
}
.our-partner-btn-wrapper{
    display: flex;
    gap: 10px;
}
.left-btn{
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 50%;
    background: transparent;
}
.right-btn{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
}
.credit-card-wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 47px;
}
.about-company{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.credit-card-wrapper img{
    width: 140px;
}
.about-company-text{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
li{
    display: flex;
    font-size: 13px;
}
.text-row-1{
    width: 340px;
    display: flex;
    flex-direction: column;
}
.text-row-2{
    width: 370px;
    display: flex;
    flex-direction: column;
}
.text-row-3{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-text p{
    width: 100%;
    font-size: 13px;
}
.error__outline{
    width: 99%;
    height: 70px;
    background: rgba(1, 29, 113, 0.05);
    display: flex;
    gap: 10px;
    padding: 30px 0;
    justify-content: center;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.error__outline p{
    width: 90%;
    font-size: 15px;
    align-self: center;
}
.error-icon{
    padding: 30px 25px;
    display: flex;
}
.fa-circle-exclamation{
    align-self: center;
    color: rgba(47, 211, 174, 1);
}
.error__tetx__wrapper{
    width: 100%;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
}
.error-link{
    display: flex;
    gap: 10px;
    color: rgba(47, 211, 174, 1);
}
.error-link a{
    color: rgba(47, 211, 174, 1);
}
.alphabet-wrapper{
    margin-top: 20px;
}
.alpha-title{
    margin: 0;
    display: flex;
    gap: 40px;
}
.alpha-title h1{
    font-size: 25px;
}
.alpha-title a{
    align-self: center;
    color: rgba(47, 211, 174, 1);
}
.alaphabet-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    font-weight: bold;
}
.alaphabet-btn button{
    border: 0;
    margin: 0 3px;
    background: transparent;
    cursor: pointer;
}
.uperlatter{
    font-size: 80px;
    margin: 26px 0;
    color: rgba(219, 246, 240, 1);
}
.text-box-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap: 20px;
    margin-top: 40px;
}
.text-box-Medicine{
    background: rgba(246, 251, 250, 1);
    padding: 20px 20px;
    border-radius: 8px;
    font-size: 13px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.tetx-box-Vitamins{
    background: rgba(246, 251, 250, 1);
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 13px;
    height: 555px;
}
.text-box-beauty{
    background: rgba(246, 251, 250, 1);
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 13px;
    height: 250px;
}
.text-box-Hygiene{
    background: rgba(246, 251, 250, 1);
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 13px;
    height: 250px;
}
.text-box-Medical-products{
    background: rgba(246, 251, 250, 1);
    padding: 20px 25px;
    border-radius: 8px;
    height: 240px;
    font-size: 13px;
}
.text-box-Pet-supplies{
    background: rgba(246, 251, 250, 1);
    padding: 20px 25px;
    border-radius: 8px;
    margin-top: -300px;
    font-size: 13px;
    height: 235px;
}
.text-box-Mother-child{
    background: rgba(246, 251, 250, 1);
    padding: 20px 25px;
    border-radius: 8px;
    grid-column-start: 3;
    font-size: 13px;
    height: 240px;
    margin-top: -305px;
}
.text-box-Lenses{
    background: rgba(246, 251, 250, 1);
    padding: 20px 25px;
    border-radius: 8px;
    height: 240px;
    font-size: 13px;
    grid-column-start: 4;
    grid-row-start: 2;
}
.text-box-Medical-equipment{
    background: rgba(246, 251, 250, 1);
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 13px;
    grid-column-start: 4;
    grid-row-start: 2;
    margin-top: -300px;
    height: 235px;
}
.box-link{
    color: rgba(47, 211, 174, 1);
}
.box-link a{
    color: rgba(47, 211, 174, 1);
}
.text-box-wrapper img{
    padding: 0 10px;
}
.health-blog{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
}
.health__wrapper{
    display: flex;
    gap: 30px;
}
.health__wrapper a{
    align-self: center;
    font-size: 14px;
    color: rgba(47, 211, 174, 1);
}
.health__wrapper h1{
    margin: 0;
}
.health-img-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.helth-box{
  width: 351px;
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  justify-content: center;
}
.helth-text{
    padding: 0 30px;
}
.helth-text h1{
    width:293px;
    font-size: 15px;
    margin: -30px 0;
    margin-bottom: 10px;
}
.helth-text p{
    width: 250px;
    text-align: left;
    font-size: 13px;
}
.any-question-wrapper{
    width: 85%;
    margin: 0 auto;
    background: #fff;
    margin-top: 90px;
    box-shadow: 0 -12px 50px rgb(192, 190, 190);
    padding: 20px 25px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    outline: none;
}
.input-wrapper{
    display: flex;
    gap: 40px;
    position: relative;
}
.input-text{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 0 20px;
    align-self: center;
}
.input-number{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    padding: 0 20px;
    border: 1px solid black;
    align-self: center;
}
.input-wrapper p{
    width: 350px;
    align-self: center;
}
.input-wrapper a{
    color: rgba(47, 211, 174, 1);
}
.input-wrapper button{
    background: rgba(47, 211, 174, 1);
    width: 242px;
    height: 46px;
    border-radius: 50px;
    align-self: center;
    border: 0;
    color: #fff;
    font-size: 15px;
    outline-color: rgba(40, 211, 174, 1);
}
footer{
    width: 100%;
    height: 50vh;
    position: absolute;
    margin-top: -100px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: linear-gradient(87.45deg, #011D71 0%, #2FD3AE 100%);
}
.logo-wrapper{
    
}
.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.abou-servese{
    width: 300px;
}