body,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Raleway";
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

/* header locatin stayle start */
.header__location {
  background-color: rgb(244, 244, 244);
}

.header__location-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}

.header__location-mockva-wrapper {
  display: flex;
  align-items: center;
  gap: 86px;
}

.header__location-select {
  border: none;
  background-color: transparent;
  outline: none;
  color: #828282;
}

.header__location-mosckva {
  display: flex;
  align-items: center;
  gap: 13px;
}

.header__location-bars-wrapper {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #828282;
}

.header__icon-bars {
  font-size: 18px;
  color: #2fd3ae;
}

.header__location-img-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__location-img {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #828282;
}

.header__location-kabinet-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #828282;
}

@media screen and (max-width: 800px) {
  .header__location-img {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .header__location-kabinet-wrapper {
    display: none;
  }
}
/* header location stayle finish  */
/* header__contact statle start */
.header__contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 10px 29px 10px;
}

.header__mobile-bars {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
}

.header__hidden-serch {
  width: 100%;
  font-size: 14px;
  color: #828282;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  padding: 17px 0 17px 28px;
  outline: none;
  display: none;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 25.83px;
  color: #4f4f4f;
  font-family: "Raleway";
}

.header__contact-text {
  font-size: 14px;
  font-family: "Roboto";
  color: #828282;
  line-height: 16.41px;
}

.header__contact-web-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__contact-catena-wrapper {
  display: flex;
  align-items: center;
  gap: 63px;
}

.header__contact-phone-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-number {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 800;
  line-height: 27px;
  color: #4f4f4f;
  line-height: 16.41px;
}

.header__contact-phone-text {
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 400;
  color: #828282;
  line-height: 12.89px;
}

.header__contact-market {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-link {
  border: none;
  border-radius: 50px;
  padding: 17px 42px;
  background-color: #2fd3ae;
  font-size: 14px;
  font-family: "Raleway";
  color: #ffffff;
  cursor: pointer;
}

.header__contact-link:active {
  transform: scale(0.98);
}

.header__contact-link:hover {
  background-color: #22b08f;
}

/* header__contact stayle finish */
/* header apteka stayle start */
.header__apteka {
  background: linear-gradient(269.93deg, #2fd3ae 0%, #011d71 100%);
}

.header__apteka-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 10px 24px 10px;
}

.header__apteka-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 16.44px;
  text-decoration: none;
}

.header__apteka-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.44px;
  color: #ffffff;
  display: none;
}

.header__diseasess {
  background-color: #f7fafb;
  padding: 20px 10px;
}

.header__diseases-wrapper {
  max-width: 1055px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__disease {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 6px 10px 8px 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 16.44px;
  color: #4f4f4f;
  cursor: pointer;
}

.header__disease:hover {
  background-color: #e5e4e4;
}

.header__disease:active {
  transform: scale(0.98);
}

.header__disease-blue {
  background-color: #4bc1e9;
  color: #ffffff;
}

.header__disease-blue:hover {
  background-color: #42abcf;
  color: #ffffff;
}

.header__disease-yellow {
  background-color: #ff9e19;
  color: #ffffff;
}

.header__disease-yellow:hover {
  background-color: #e78f13;
  color: #ffffff;
}

/* header stayle finish */
* {
  font-family: "Roboto";
  font-weight: 400;
}

main {
  padding: 0 10px;
}

.main__link-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 32px 0 22px 0;
}

.main__img-text-link {
  font-size: 14px;
  line-height: 16.44px;
  color: #2fd3ae;
}

.main__img-text-hidden {
  font-size: 14px;
  color: #bdbdbd;
}

.main__title {
  font-weight: 700;
  font-size: 36px;
  color: #2e3a59;
  margin: 0;
  padding-bottom: 50px;
}

.main__text-wrapper {
  width: 100%;
  display: flex;
  gap: 28px;
  padding-bottom: 100px;
}

.main__star-wrapper {
  max-width: 357px;
  height: 690px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.0509803922);
}

.main__star-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7fafb;
  padding: 45px 49px 50px 50px;
  border-radius: 5px 5px 0 0;
}

.main__star-bolt-wrappper {
  display: flex;
  gap: 67px;
}

.main__star-p-wrappper {
  max-width: 98px;
  width: 100%;
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

.main__star-bolt-number {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #333333;
}

.main__stars {
  display: flex;
  gap: 2.5px;
}

.main__star-p {
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  color: #4f4f4f;
  padding-top: 42px;
}

.main__star-button button {
  max-width: 200px;
  width: 100%;
  border-radius: 50px;
  border: none;
  background-color: #2fd3ae;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 5%;
  color: #ffffff;
  padding: 15px 31px;
  margin-top: 45px;
}

.main__star-img-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 30px;
}
.main__star-img-wrapper div {
  display: flex;
  justify-content: space-between;
}
.main__star-img-wrapper div div {
  display: flex;
  gap: 10px;
}

.main__text {
  width: 100%;
}

.main__text-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f7fafb;
  padding: 22px 20px;
  border-radius: 5px;
}

.main__box-menu-wrapper {
  display: flex;
  gap: 16px;
}

.main__box-text-wrapper {
  display: flex;
  gap: 41px;
}
.main__box-text-wrapper span {
  font-size: 14px;
  color: #828282;
}
.main__box-text-wrapper b {
  font-weight: 700;
  font-family: "Raleway";
  font-size: 14px;
  letter-spacing: 5%;
  color: #333333;
}

.main__box-button-wrapper {
  display: flex;
  gap: 5px;
}
.main__box-button-wrapper button {
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px rgba(11, 54, 29, 0.0509803922);
}

.main__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.main__name-b {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}
.main__name-b span {
  font-size: 18px;
  color: #828282;
}
.main__name-b span b {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}

.main__name-follow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main__name-text {
  font-size: 14px;
  line-height: 24px;
  color: #4f4f4f;
}

.main__button-wrapper {
  width: 100%;
  text-align: left;
  border: none;
  background-color: #2fd3ae;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 5%;
  padding: 17px 15px;
  margin: 30px 0;
}

.main__form-wrapper {
  background-color: #f7fafb;
  border-radius: 20px;
  padding: 5px 5px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.main__form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main__form h6 {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin: 30px 0;
}

.main__form-inputs {
  display: flex;
  gap: 29px;
}

.main__form-input {
  max-width: 328px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #c7cfe3;
  padding: 17px 0 17px 20px;
  margin-bottom: 20px;
  outline: none;
}

.main__form-problems {
  max-width: 688px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #c7cfe3;
  padding: 17px 0 17px 20px;
  margin-bottom: 20px;
  outline: none;
}

.main__form-button {
  display: flex;
  gap: 30px;
  align-items: center;
}

.main__form-input-submit {
  max-width: 200px;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 18px 61px;
  background-color: #2fd3ae;
  color: #ffffff;
  box-shadow: 0px 40px 40px 0px rgba(113, 196, 118, 0.2);
}

.main__form-text {
  max-width: 330px;
  font-size: 12px;
  line-height: 14.06px;
  color: #828282;
}
.main__form-text .main__form-text-link {
  color: #2fd3ae;
  text-decoration: underline;
}

footer {
  position: relative;
  background: linear-gradient(269.93deg, #2fd3ae 0%, #011d71 100%);
}

.footer__form-wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(217, 217, 217);
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  position: absolute;
  top: -70px;
  right: 0;
  left: 0;
}

.footer__form-title {
  max-width: 1150px;
  width: 100%;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

.footer__form {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.footer__form-name {
  max-width: 375px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e9eb;
  padding: 15px 0 15px 20px;
}

.footer__form-tel {
  max-width: 375px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e9eb;
  padding: 15px 0 15px 20px;
}

.footer__form-link {
  color: #2fd3ae;
}

.footer__form-text {
  max-width: 270px;
  width: 100%;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16.8px;
  color: #828282;
}

.footer__form-submit {
  max-width: 242px;
  border-radius: 50px;
  border: none;
  background: #2fd3ae;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  padding: 15px 58px;
  cursor: pointer;
  transition: 0.5s;
}

.footer__form-submit:hover {
  background-color: #1daa89;
}

.footer__form-submit:active {
  transform: scale(0.9);
}

.footer__wrappper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10px 0 10px;
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__apteka-logo {
  display: flex;
  gap: 20px;
}

.footer__logo-text-wrapper p {
  max-width: 159px;
  width: 100%;
  font-size: 12px;
  line-height: 14.06px;
  color: #ffffff;
  font-family: "Roboto";
}

.footer__apteka-text {
  display: flex;
  flex-direction: column;
  gap: 108px;
}

.footer__list {
  list-style: none;
}

.footer__list li::before {
  content: "-";
  padding: 0 20px 0 0;
  font-size: 25px;
  color: #ffffff;
}

.footer__list a {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 30.8px;
}

.footer__contact-phone-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__list-emial {
  display: flex;
  flex-direction: column;
  gap: 49px;
  color: white;
}

.footer__list-emial li {
  list-style: none;
}

.footer__text {
  max-width: 347px;
  font-size: 14px;
  line-height: 35.8px;
  color: #ffffff;
}

.footer__list-text {
  list-style: none;
}

ul {
  padding: 0;
}

@media screen and (max-width: 1360px) {
  .header__contact-web-wrapper {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .header__contact-phone-wrapper:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 1030px) {
  .header__contact-phone-wrapper:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .header__contact-phone-wrapper:nth-child(3) {
    display: none;
  }
  .header__mobile-bars {
    display: flex;
  }
}
@media screen and (max-width: 665px) {
  .header__mobile-serch {
    display: none;
  }
}
@media screen and (max-width: 594px) {
  .header__contact-link {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .header__contact-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 391px) {
  .header__logo-wrapper {
    gap: 10px;
  }
}
@media screen and (max-width: 1150px) {
  .header__apteka-icon-wrapper:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .header__apteka-icon-wrapper:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  .header__apteka-icon-wrapper:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .header__apteka-icon-wrapper:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .header__apteka-icon-wrapper:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .header__apteka-icon-wrapper:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header__apteka-icon-wrapper:nth-child(8) {
    display: none;
  }
  .header__apteka-icon-wrapper:nth-child(9) {
    display: none;
  }
  .header__apteka-icon-wrapper:nth-child(10) {
    display: none;
  }
  .header__apteka-mobile {
    display: flex;
  }
  .header__apteka {
    background: #2fd3ae;
  }
}
@media screen and (max-width: 905px) {
  .header__disease:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header__disease:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header__disease:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .header__disease:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .header__disease:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header__disease:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 1102px) {
  .main__text-box {
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (max-width: 900px) {
  .main__box-text-wrapper {
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (max-width: 763px) {
  .main__box-text-wrapper {
    flex-direction: column;
    gap: 16px;
  }
  .main__text-p {
    display: none;
  }
}
@media screen and (max-width: 875px) {
  .main__name-b {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .main__name {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 780px) {
  .main__text-wrapper {
    flex-direction: column;
  }
  .main__star-wrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .main__form-button {
    flex-direction: column;
  }
  .main__text-wrapper {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1044px) {
  .footer__form {
    flex-direction: column;
  }
}
@media screen and (max-width: 1347px) {
  .footer__wrappper {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__apteka-text {
    gap: 20px;
  }
}
@media screen and (max-width: 1045px) {
  .footer__wrappper {
    padding-top: 300px;
  }
}/*# sourceMappingURL=reviews.css.map */