footer {
  position: relative;
  background: linear-gradient(269.93deg, #2fd3ae 0%, #011d71 100%);
}

.footer__form-wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(217, 217, 217);
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  position: absolute;
  top: -70px;
  right: 0;
  left: 0;
}

.footer__form-title {
  max-width: 1150px;
  width: 100%;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

.footer__form {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.footer__form-name {
  max-width: 375px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e9eb;
  padding: 15px 0 15px 20px;
}

.footer__form-tel {
  max-width: 375px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e9eb;
  padding: 15px 0 15px 20px;
}

.footer__form-link {
  color: #2fd3ae;
}

.footer__form-text {
  max-width: 270px;
  width: 100%;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16.8px;
  color: #828282;
}

.footer__form-submit {
  max-width: 242px;
  border-radius: 50px;
  border: none;
  background: #2fd3ae;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  padding: 15px 58px;
  cursor: pointer;
  transition: 0.5s;
}

.footer__form-submit:hover {
  background-color: #1daa89;
}

.footer__form-submit:active {
  transform: scale(0.9);
}

.footer__wrappper {
  display: flex;
  justify-content: space-between;
  padding: 100px 10px 0 10px;
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__apteka-logo {
  display: flex;
  gap: 20px;
}

.footer__logo-text-wrapper p {
  max-width: 159px;
  width: 100%;
  font-size: 12px;
  line-height: 14.06px;
  color: #ffffff;
  font-family: "Roboto";
}

.footer__apteka-text {
  display: flex;
  flex-direction: column;
  gap: 108px;
}

.footer__list {
  list-style: none;
}

.footer__list li::before {
  content: "-";
  padding: 0 20px 0 0;
  font-size: 25px;
  color: #ffffff;
}

.footer__list a {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 30.8px;
}

.footer__contact-phone-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__list-emial {
  display: flex;
  flex-direction: column;
  gap: 49px;
  color: white;
}

.footer__list-emial li {
  list-style: none;
}

.footer__text {
  max-width: 347px;
  font-size: 14px;
  line-height: 35.8px;
  color: #ffffff;
}

.footer__list-text {
  list-style: none;
}

ul {
  padding: 0;
}

@media screen and (max-width: 1044px) {
  .footer__form {
    flex-direction: column;
  }
}
@media screen and (max-width: 1347px) {
  .footer__wrappper {
    flex-direction: column;
  }
  .footer__apteka-text {
    gap: 20px;
  }
}
@media screen and (max-width: 1045px) {
  .footer__wrappper {
    padding-top: 280px;
  }
}
