body,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Raleway";
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

/* header locatin stayle start */
.header__location {
  background-color: rgb(244, 244, 244);
}

.header__location-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}

.header__location-mockva-wrapper {
  display: flex;
  align-items: center;
  gap: 86px;
}

.header__location-select {
  border: none;
  background-color: transparent;
  outline: none;
  color: #828282;
}

.header__location-mosckva {
  display: flex;
  align-items: center;
  gap: 13px;
}

.header__location-bars-wrapper {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #828282;
}

.header__icon-bars {
  font-size: 18px;
  color: #2fd3ae;
}

.header__location-img-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__location-img {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #828282;
}

.header__location-kabinet-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #828282;
}

@media screen and (max-width: 800px) {
  .header__location-img {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .header__location-kabinet-wrapper {
    display: none;
  }
}
/* header location stayle finish  */
/* header__contact statle start */
.header__contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 10px 29px 10px;
}

.header__mobile-bars {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
}

.header__hidden-serch {
  width: 100%;
  font-size: 14px;
  color: #828282;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  padding: 17px 0 17px 28px;
  outline: none;
  display: none;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 25.83px;
  color: #4f4f4f;
  font-family: "Raleway";
}

.header__contact-text {
  font-size: 14px;
  font-family: "Roboto";
  color: #828282;
  line-height: 16.41px;
}

.header__contact-web-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__contact-catena-wrapper {
  display: flex;
  align-items: center;
  gap: 63px;
}

.header__contact-phone-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-number {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 800;
  line-height: 27px;
  color: #4f4f4f;
  line-height: 16.41px;
}

.header__contact-phone-text {
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 400;
  color: #828282;
  line-height: 12.89px;
}

.header__contact-market {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-link {
  border: none;
  border-radius: 50px;
  padding: 17px 42px;
  background-color: #2fd3ae;
  font-size: 14px;
  font-family: "Raleway";
  color: #ffffff;
  cursor: pointer;
}

.header__contact-link:active {
  transform: scale(0.98);
}

.header__contact-link:hover {
  background-color: #22b08f;
}

/* header__contact stayle finish */
/* header apteka stayle start */
.header__apteka {
  background: linear-gradient(269.93deg, #2fd3ae 0%, #011d71 100%);
}

.header__apteka-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 10px 24px 10px;
}

.header__apteka-icon {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 16.44px;
  text-decoration: none;
}

.header__apteka-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.44px;
  color: #ffffff;
  display: none;
}

.header__diseasess {
  background-color: #f7fafb;
  padding: 20px 10px;
}

.header__diseases-wrapper {
  max-width: 1055px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__disease {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 6px 10px 8px 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 16.44px;
  color: #4f4f4f;
  cursor: pointer;
}

.header__disease:hover {
  background-color: #e5e4e4;
}

.header__disease:active {
  transform: scale(0.98);
}

.header__disease-blue {
  background-color: #4bc1e9;
  color: #ffffff;
}

.header__disease-blue:hover {
  background-color: #42abcf;
  color: #ffffff;
}

.header__disease-yellow {
  background-color: #ff9e19;
  color: #ffffff;
}

.header__disease-yellow:hover {
  background-color: #e78f13;
  color: #ffffff;
}

/* header stayle finish */
.main {
  font-weight: 400;
}

.main__link-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 32px 10px 22px 10px;
}

.main__img-text-link {
  font-size: 14px;
  line-height: 16.44px;
  color: #2fd3ae;
}

.main__img-text-hidden {
  font-size: 14px;
  color: #bdbdbd;
  display: none;
}

.main__girl-img {
  width: 100%;
  height: 500px;
  padding: 0 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.main__img-girl_wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 40px;
}

.main__img-text-wrapper {
  display: flex;
  align-items: center;
  gap: 31px;
  position: absolute;
  bottom: 70px;
  left: 48px;
}

.main__img-text {
  max-width: 1265px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.35px;
  padding: 0 10px;
  color: #ffffff;
}

.main__text-wrapper {
  max-width: 1262px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0 10px;
}

.main__text-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 52px;
}

.main__text-clock {
  display: flex;
  align-items: center;
  gap: 9.33px;
}

.main__text-time {
  font-size: 14px;
  color: #828288;
}

.main__link-text {
  display: flex;
  gap: 42px;
}

.main__text-bc {
  color: #525a68;
  font-weight: 700;
}

.main__text-button-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.main__text-button {
  border-radius: 50px;
  border: none;
  padding: 10px 12px;
  font-size: 14px;
  background-color: #f7fafb;
}

.main__text-button-bc {
  background-color: #2fd3ae;
  color: #ffffff;
}

.main__text-stars-wrapper {
  display: flex;
  gap: 30px;
}

.main__stars-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.main__stars {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main__text-49 {
  font-size: 14px;
  color: #4f4f4f;
}

.main__button {
  border-radius: 50px;
  border: 2px solid #2fd3ae;
  padding: 11px 24px 11px 23px;
  font-size: 14px;
  color: #545a68;
  background-color: transparent;
  cursor: pointer;
}

.main__text-box-wrapper {
  display: flex;
  gap: 29px;
}

.main__list-box {
  flex: 1;
  background-color: #f7fafb;
  border-radius: 20px;
  padding: 30px 29px 0 30px;
}

.main__select {
  border: none;
  background-color: transparent;
  width: 100%;
  color: #273142;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  font-weight: "Roboto";
  padding-bottom: 20px;
}

.main__list-box {
  margin: 0 10px 0 20px;
  line-height: 40px;
}
.main__list-box li {
  font-size: 15px;
  color: #525a68;
}

.main__box-title {
  font-size: 40px;
  font-weight: 700;
  color: #333333;
  padding: 0 10px;
}

.main__text-box {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding: 30px 10px 30px 10px;
}
.main__text-box p {
  font-size: 18px;
  color: #828282;
  line-height: 30px;
}

.main__box-text-wrapper {
  background-color: #f7fafb;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 51px;
  margin: 20px 0;
}
.main__box-text-wrapper img {
  max-width: 51px;
  width: 100%;
  height: 130px;
  margin: 0 0 0 20px;
}
.main__box-text-wrapper .main__box-text {
  font-size: 18px;
  line-height: 30px;
  color: #828282;
  padding: 0 10px;
}

.main__box-p {
  font-size: 18px;
  line-height: 30px;
  color: #828282;
  padding: 0 10px;
}

.main__cost-wrapper {
  width: 100%;
}

.main__cost-title {
  font-weight: 700;
  font-size: 36px;
  color: #333333;
  padding: 0 10px;
}

.main__cost {
  display: flex;
  gap: 30px;
  padding: 0 10px;
}

.main__cost-box {
  max-width: 279px;
  width: 100%;
  border: 1px solid #f7fafb;
  border-radius: 5px;
  position: relative;
}

.main__cost-img {
  background-color: #f7fafb;
}

.main__cost-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 22px 0 20px 19px;
}

.main__cost-text-green {
  font-weight: 700;
  font-size: 12px;
  color: #2fd3ae;
}

.main__stars-center {
  display: flex;
  align-items: center;
  gap: 3px;
}

.main__stars-all {
  display: flex;
  gap: 64px;
}

.main__cost-b {
  max-width: 270px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: #525a68;
}

.main__cost-text {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main__cost-text button {
  max-width: 220px;
  width: 100%;
  border-radius: 50px;
  border: none;
  background: #2fd3ae;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.44px;
  letter-spacing: 5%;
  color: #ffffff;
  padding: 17px 0;
}

.main-cost-shadov {
  box-shadow: 0 0 5px rgb(187, 187, 187);
  padding-top: 50px;
}

.main__price-wrapper {
  display: flex;
  flex-direction: column;
}

.main__text-price {
  font-size: 14px;
  color: #828282;
}

.main__price-41 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  color: #525a68;
}

.main__price-red {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  color: #dd8888;
  text-decoration: line-through;
}

.main__img-plus-wrapper {
  max-width: 80px;
  width: 100%;
  max-height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  position: absolute;
  bottom: 110px;
  left: -55px;
}

.main__img-equa {
  width: 100px;
  position: absolute;
  bottom: 80px;
  left: -75px;
}

.main__heading {
  font-size: 36px;
  font-weight: 700;
  color: #333333;
  padding: 0 10px;
}

.main__heading-text {
  font-size: 18px;
  line-height: 30px;
  color: #828282;
  padding: 0 10px;
}

ol {
  padding: 0 10px 0 25px;
}
ol li {
  font-size: 18px;
  line-height: 30px;
  color: #828282;
  padding-bottom: 50px;
}

.heading4 {
  font-weight: 700;
  font-size: 30px;
  color: #333333;
  padding: 0 10px;
}

.main__about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main__about-text {
  font-size: 18px;
  line-height: 30px;
  color: #828282;
  padding: 0 10px;
}

.main__about-box {
  display: flex;
  gap: 32px;
  background-color: #f7fafb;
  border-radius: 5px;
  padding: 35px 32px;
}

.main__about-box-text {
  font-size: 18px;
  line-height: 30px;
  color: #828282;
}

tr,
td,
th {
  border-top: 1px solid #e6e7e9;
  padding: 16px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  font-size: 14px;
  letter-spacing: 1%;
  color: #333333;
}

tr:nth-child(1) {
  background-color: #2fd3ae;
  color: white;
  font-size: 14px;
  letter-spacing: 1%;
}

tr:nth-child(3) {
  background-color: #e6e7e9;
}

tr:nth-child(5) {
  background-color: #e6e7e9;
}

tr:nth-child(7) {
  background-color: #e6e7e9;
}

tr:nth-child(9) {
  background-color: #e6e7e9;
}

tr:nth-child(11) {
  background-color: #e6e7e9;
}

tr:nth-child(13) {
  background-color: #e6e7e9;
}

tr:nth-child(15) {
  background-color: #e6e7e9;
}

tr:nth-child(17) {
  background-color: #e6e7e9;
}

tr:nth-child(19) {
  background-color: #e6e7e9;
}

th img {
  padding: 0 16px;
}

.main__heading5 {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  padding: 0 10px;
}

.main__heading5-text {
  font-size: 18px;
  line-height: 30px;
  color: #828282;
  padding: 0 10px 30px 10px;
}

.main__img-text {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

.main__img-p {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.26px;
  color: #333333;
}

.main__text-span {
  font-size: 18px;
  color: #525a68;
}

.main__heading5-list {
  padding: 0 0 0 10px;
}
.main__heading5-list li {
  font-size: 18px;
  line-height: 30px;
  color: #828282;
  list-style: circle;
  padding: 0 0 16px 0;
}

.main__heading6 {
  font-weight: 700;
  font-size: 20px;
  color: #333333;
  padding: 0 10px;
}

.main__heading6-img-text {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main__heading6-list {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.main__heading6-list li {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  color: #828282;
}

.main__box-link {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 30px 30px 30px 31px;
  box-shadow: 0px 0px 50px 0px rgba(218, 229, 235, 0.5019607843);
  border-radius: 5px;
  margin-bottom: 51px;
}

.main__box-link-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main__box-link-text p {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.main__box-link-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.main__button-box {
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: #dd8888;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.main__button-box:active {
  transform: scale(0.98);
}

.main__button-box:nth-child(1) {
  background-color: rgb(60, 87, 158);
}

.main__button-box:nth-child(2) {
  background-color: rgb(57, 80, 138);
}

.main__button-box:nth-child(3) {
  background-color: rgb(84, 172, 238);
}

.main__button-box:nth-child(4) {
  background-color: rgb(107, 184, 244);
}

.main__button-box:nth-child(5) {
  background-color: rgb(255, 152, 0);
}

.main__button-box:nth-child(6) {
  background-color: rgb(227, 0, 0);
}

.main__box-link-star {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.main__box-link-star span {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.main__box-link-star .main__box-link-stars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main__list-img-title {
  font-weight: 700;
  font-size: 18px;
  color: #2e3a59;
}

.main__list-img li {
  list-style: none;
  font-size: 18px;
  color: #333333;
  padding: 10px 10px;
  display: flex;
}
.main__list-img img {
  padding: 0 15px 0 0;
}

.main__form-wrapper {
  background-color: #f7fafb;
  border-radius: 20px;
  padding: 5px 5px;
  padding-bottom: 80px;
  margin-bottom: 30px;
}

.main__form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main__form h6 {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin: 30px 0;
}

.main__form-inputs {
  display: flex;
  gap: 29px;
}

.main__form-input {
  max-width: 328px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #c7cfe3;
  padding: 17px 0 17px 20px;
  margin-bottom: 20px;
  outline: none;
}

.main__form-problems {
  max-width: 688px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #c7cfe3;
  padding: 17px 0 17px 20px;
  margin-bottom: 20px;
  outline: none;
}

.main__form-button {
  display: flex;
  gap: 30px;
  align-items: center;
}

.main__form-input-submit {
  max-width: 200px;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 18px 61px;
  background-color: #2fd3ae;
  color: #ffffff;
  box-shadow: 0px 40px 40px 0px rgba(113, 196, 118, 0.2);
}

.main__form-text {
  max-width: 330px;
  font-size: 12px;
  line-height: 14.06px;
  color: #828282;
}
.main__form-text .main__form-text-link {
  color: #2fd3ae;
  text-decoration: underline;
}

.main__commentary {
  max-width: 748px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

.img__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main__commentarysss {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-commentary-img-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main__commentary-name {
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.main__commentary-img-star {
  display: flex;
  align-items: center;
}

.main__commentary-data {
  font-size: 14px;
  color: #c2c2c2;
}

.main__commentary-send {
  color: #5d9cec;
  text-decoration: underline;
  font-size: 14px;
}

.main__commentary-true {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main__commentary-text {
  max-width: 747px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #7c7c7c;
}

footer {
  position: relative;
  background: linear-gradient(269.93deg, #2fd3ae 0%, #011d71 100%);
}

.footer__form-wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(217, 217, 217);
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  position: absolute;
  top: -70px;
  right: 0;
  left: 0;
}

.footer__form-title {
  max-width: 1150px;
  width: 100%;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

.footer__form {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.footer__form-name {
  max-width: 375px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e9eb;
  padding: 15px 0 15px 20px;
}

.footer__form-tel {
  max-width: 375px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e9eb;
  padding: 15px 0 15px 20px;
}

.footer__form-link {
  color: #2fd3ae;
}

.footer__form-text {
  max-width: 270px;
  width: 100%;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16.8px;
  color: #828282;
}

.footer__form-submit {
  max-width: 242px;
  border-radius: 50px;
  border: none;
  background: #2fd3ae;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  padding: 15px 58px;
  cursor: pointer;
  transition: 0.5s;
}

.footer__form-submit:hover {
  background-color: #1daa89;
}

.footer__form-submit:active {
  transform: scale(0.9);
}

.footer__wrappper {
  display: flex;
  justify-content: space-between;
  padding: 100px 10px 0 10px;
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__apteka-logo {
  display: flex;
  gap: 20px;
}

.footer__logo-text-wrapper p {
  max-width: 159px;
  width: 100%;
  font-size: 12px;
  line-height: 14.06px;
  color: #ffffff;
  font-family: "Roboto";
}

.footer__apteka-text {
  display: flex;
  flex-direction: column;
  gap: 108px;
}

.footer__list {
  list-style: none;
}

.footer__list li::before {
  content: "-";
  padding: 0 20px 0 0;
  font-size: 25px;
  color: #ffffff;
}

.footer__list a {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 30.8px;
}

.footer__contact-phone-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__list-emial {
  display: flex;
  flex-direction: column;
  gap: 49px;
  color: white;
}

.footer__list-emial li {
  list-style: none;
}

.footer__text {
  max-width: 347px;
  font-size: 14px;
  line-height: 35.8px;
  color: #ffffff;
}

.footer__list-text {
  list-style: none;
}

ul {
  padding: 0;
}

@media screen and (max-width: 1360px) {
  .header__contact-web-wrapper {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .header__contact-phone-wrapper:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 1030px) {
  .header__contact-phone-wrapper:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .header__contact-phone-wrapper:nth-child(3) {
    display: none;
  }
  .header__mobile-bars {
    display: flex;
  }
}
@media screen and (max-width: 665px) {
  .header__mobile-serch {
    display: none;
  }
}
@media screen and (max-width: 594px) {
  .header__contact-link {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .header__contact-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 391px) {
  .header__logo-wrapper {
    gap: 10px;
  }
}
@media screen and (max-width: 1150px) {
  .header__apteka-icon-wrapper:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .header__apteka-icon-wrapper:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  .header__apteka-icon-wrapper:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .header__apteka-icon-wrapper:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .header__apteka-icon-wrapper:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .header__apteka-icon-wrapper:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header__apteka-icon-wrapper:nth-child(8) {
    display: none;
  }
  .header__apteka-icon-wrapper:nth-child(9) {
    display: none;
  }
  .header__apteka-icon-wrapper:nth-child(10) {
    display: none;
  }
  .header__apteka-mobile {
    display: flex;
  }
  .header__apteka {
    background: #2fd3ae;
  }
}
@media screen and (max-width: 905px) {
  .header__disease:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header__disease:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header__disease:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .header__disease:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .header__disease:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header__disease:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .main__img-text-link:nth-child(8) {
    display: none;
  }
  .main__img-text-link:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .main__img-text-link:nth-child(6) {
    display: none;
  }
  .main__img-text-link:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .main__img-text-link:nth-child(4) {
    display: none;
  }
  .main__img-text-hidden {
    display: block;
  }
}
@media screen and (max-width: 1135px) {
  .main__img-text {
    font-size: 38px;
  }
}
@media screen and (max-width: 1070px) {
  .main__img-text-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .main__img-text {
    font-size: 28px;
    line-height: 20px;
  }
}
@media screen and (max-width: 655px) {
  .main__img-text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1155px) {
  .main__text-link {
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .main__text-link {
    align-items: baseline;
  }
}
@media screen and (max-width: 420px) {
  .main__stars {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1162px) {
  .main__text-box-wrapper {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 900px) {
  .main__cost {
    flex-direction: column;
  }
  .main__img-plus-wrapper {
    display: none;
  }
  .main__img-equa {
    display: none;
  }
  .main__cost-box {
    max-width: 100%;
  }
}
@media screen and (max-width: 845px) {
  .main__img-text {
    flex-direction: column;
  }
  .main__img-text img {
    width: 100%;
  }
}
@media screen and (max-width: 1175px) {
  .main__heading6-img-text {
    flex-direction: column;
  }
  .main__heading6-img-text img {
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 1175px) {
  .main__box-link {
    flex-direction: column;
  }
}
@media screen and (max-width: 495px) {
  .main__form-button {
    flex-direction: column;
  }
}
@media screen and (max-width: 495px) {
  .main__commentary-img-star {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .main__commentary-data {
    display: none;
  }
}
@media screen and (max-width: 1044px) {
  .footer__form {
    flex-direction: column;
  }
}
@media screen and (max-width: 1347px) {
  .footer__wrappper {
    flex-direction: column;
  }
  .footer__apteka-text {
    gap: 20px;
  }
}
@media screen and (max-width: 1045px) {
  .footer__wrappper {
    padding-top: 300px;
  }
}/*# sourceMappingURL=blog-list.css.map */