.any-questions {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: -261px;
    left: 33px;
    padding: 40px 95px;

    & h3 {
        color: black;
        font-size: 24px;
    }

    &__wrapper {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 24px;
    }
}



.footer-inputs {
    display: flex;
    gap: 15px;
}

.input-name,
.input-number {
    width: 100%;
    padding: 18px 28px;
    border: 1px solid #e7e9eb;
    border-radius: 30px;
}

.input-name::placeholder {
    font-size: 18px;
    color: #828282;
}

.input-number::placeholder {
    font-size: 18px;
    color: #828282;
}

.ask-question {
    background-color: $green;
    color: white;
    padding: 10px 70px;
    border-radius: 30px;
}

footer {
    margin-top: 170px;
    background-image: linear-gradient(to right, #001a70, #47d7ac);
    padding: 155px 20px 70px 20px;
    color: var(--light-gray);

    & a {
        color: $light-gray;
    }

    &-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    &-logo-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-column2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &-logo-name {
        display: flex;
        flex-direction: column;
    }

    &-bold {
        font-weight: bold;
    }

}


.sm-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}