@media (max-width: 1583px) {
  .category9 {
    display: none;
  }

  .bottom-header__wrapper {
    gap: 0;
    justify-content: space-between;
  }
}

@media (max-width: 1547px) {
  .alphabet-wrapper > span {
    display: none;
  }
}
@media (max-width: 1540px) {
  .blogs-wrapper > div:last-child {
    display: none;
  }
  .blogs-wrapper2 > div:last-child {
    display: flex;
  }

  .blog-title,
  .blog-info {
    max-width: 368px;
  }
}
@media (max-width: 1492px) {
  .bottom-header__wrapper > div:last-child {
    display: none;
  }
}
@media (max-width: 1466px) {
  .contact2,
  .contact3 {
    display: none;
  }

  .middle-header__wrapper {
    gap: 0;
    justify-content: space-between;
  }
}

@media (max-width: 1423px) {
  .footer-wrapper .column4 {
    display: none;
  }
  .media-column4 {
    display: flex !important;
  }
}
@media (max-width: 1300px) {
  .card3 {
    display: none;
  }

  .media-card3 {
    display: flex;
  }
}
@media (max-width: 1293px) {
  .alphabet div {
    line-height: 35px;
  }
}
@media (max-width: 1212px) {
  .category8 {
    display: none;
  }
}
@media (max-width: 1175px) {
  .sub-header__wrapper a:last-child {
    display: none;
  }

  .sub-header__wrapper {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 1170px) {
  .blog2 {
    display: none !important;
  }

  .media-blog2 {
    display: flex !important;
  }
}
@media (max-width: 1145px) {
  .any-questions__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  footer {
    padding: 205px 20px 70px 20px;
    margin-top: 222px;
  }

  .any-questions__wrapper input {
    width: 100%;
  }
  .any-questions__wrapper span {
    max-width: 300px;
  }

  .footer-inputs {
    flex-direction: column;
  }

  .footer-inputs input {
    width: 258px;
  }

  .ask-question {
    padding: 12px 70px;
    font-size: 18px;
  }
}

@media (max-width: 1145px) {
  .any-questions {
    top: -416px;
  }
}

@media (max-width: 1020px) {
  .social-media {
    display: none;
  }

  .joints {
    display: none;
  }
}
@media (max-width: 1010px) {
  .footer-wrapper .column3 {
    display: none;
  }

  .media-column3 {
    display: flex !important;
    gap: 30px;
  }
}
@media (max-width: 1006px) {
  .category7 {
    display: none;
  }
}
@media (max-width: 956px) {
  .card2 {
    display: none;
  }

  .media-card2 {
    display: flex;
  }
}
@media (max-width: 922px) {
  .milk {
    display: none;
  }
}
@media (max-width: 870px) {
  .top-header__right-flex,
  .arrow-right {
    display: none;
  }

  .top-header__left-flex {
    width: 100%;
    gap: none;
    justify-content: space-between;
  }
}
@media (max-width: 858px) {
  .category6 {
    display: none;
  }
}
@media (max-width: 835px) {
  .contacts-wrapper {
    display: none;
  }

  .middle-header__wrapper .logo {
    display: none;
  }

  .search .logo {
    display: flex;
  }

  .call-button {
    display: none;
  }

  .middle-header__wrapper {
    justify-content: center;
  }
}
@media (max-width: 798px) {
  .blog1 {
    display: none !important;
  }
  .media-blog1 {
    display: flex !important;
  }
}
@media (max-width: 795px) {
  .organ {
    display: none;
  }
}
@media (max-width: 733px) {
  .footer-wrapper .column2 {
    display: none;
  }

  .media-column2 {
    display: flex !important;
  }
}
@media (max-width: 687px) {
  .category5 {
    display: none;
  }

  .makeup {
    display: none;
  }
}
@media (max-width: 670px) {
  .any-questions {
    padding: 36px 27px;
    left: 0;
  }

  .knowledge-base__wrapper {
    margin-bottom: 40px;
  }
}
@media (max-width: 625px) {
  .card1 {
    display: none;
  }

  .media-card1 {
    display: flex;
  }

  .medicine {
    background-color: #f7fafb;
    border-radius: 10px;
    padding: 35px 53px;
  }
}
@media (max-width: 593px) {
  .category4 {
    display: none;
  }
}
@media (max-width: 481px) {
  .allergy {
    display: none;
  }
}
@media (max-width: 468px) {
  .footer-wrapper .column1 {
    display: none;
  }

.footer-wrapper .footer-column {
  display: none;
}

  .media-column1,
  .footer-media-logo {
    display: flex !important;
  }

}
@media (max-width: 460px) {
  .category3 {
    display: none;
  }
}
@media (max-width: 421px) {
  footer {
    padding: 70px 20px 70px 20px;
  }
}
@media (max-width: 400px) {
  .blogs-wrapper img {
    width: 314px;
  }
  .blogs-wrapper2 img {
    width: 314px;
  }
}
@media (max-width: 383px) {
  .alphabetical-search-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .alphabetical-search-title > h2 {
    font-size: 32px;
  }
}
@media (max-width: 373px) {
  .covid {
    display: none;
  }
}
